PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('D2luKx3WbWMdIVBG8OGJtgACJ2yGBKniCUIY2ift',NULL,'::1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36','YTozOntzOjY6Il90b2tlbiI7czo0MDoidFlUc05GMjVwS3Z5dlVGaHZXb0ZRWTJUZlVjdmpUeVRzWHBYeUJ6RSI7czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6MjE6Imh0dHA6Ly9sb2NhbGhvc3Q6ODAwMCI7czo1OiJyb3V0ZSI7czo0OiJob21lIjt9czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319fQ==',1768130881);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "admins" ("id_admin" integer primary key autoincrement not null, "nama_admin" varchar not null, "username" varchar not null, "password" varchar not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO admins VALUES(1,'Super Administrator','admin','$2y$12$zjZuIYYJkL23gtQOx9Nd0evDd7I5jOCzeYDl7XgX4DO6k/Nv5JIgW','2026-01-11 11:26:17','2026-01-11 11:26:17');
CREATE TABLE IF NOT EXISTS "mahasiswas" ("id_mahasiswa" integer primary key autoincrement not null, "nama" varchar not null, "nim" varchar not null, "email" varchar not null, "telepon" varchar, "gender" varchar, "agama" varchar, "prodi" varchar, "fakultas" varchar, "angkatan" varchar, "foto" varchar, "password" varchar not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO mahasiswas VALUES(1,'fanya','2219068','fanya@gmail.com','123','Perempuan','Katolik','S1 Informatika','FTI','2022','fotos/dtTauybXDFMEI9EMjg0AikhGfbLYIbhx4t7b5GkN.png','$2y$12$Qu/AjaJt7oydQZRPAQfGmeW7ZCjh7xpDzyzPGx.1SZjQj/kLpxhd2','2026-01-11 11:27:22','2026-01-11 11:27:22');
CREATE TABLE IF NOT EXISTS "ukms" ("id_ukm" integer primary key autoincrement not null, "nama_ukm" varchar not null, "deskripsi" text, "ketua_ukm" varchar not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO ukms VALUES(1,'UKM Bola Voli','Unit kegiatan mahasiswa bidang olahraga voli.','Budi Santoso','2026-01-11 11:26:17','2026-01-11 11:26:17');
INSERT INTO ukms VALUES(2,'UKM Taekwondo','Unit kegiatan mahasiswa bela diri Taekwondo.','Siti Aminah','2026-01-11 11:26:17','2026-01-11 11:26:17');
INSERT INTO ukms VALUES(3,'UKM Paduan Suara','Unit kegiatan mahasiswa bidang seni tarik suara.','Rina Wati','2026-01-11 11:26:17','2026-01-11 11:26:17');
CREATE TABLE IF NOT EXISTS "pendaftarans" ("id_pendaftaran" integer primary key autoincrement not null, "tanggal_daftar" date not null, "status_verifikasi" varchar not null default 'Pending', "id_mahasiswa" integer not null, "id_ukm" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("id_mahasiswa") references "mahasiswas"("id_mahasiswa") on delete cascade, foreign key("id_ukm") references "ukms"("id_ukm") on delete cascade);
INSERT INTO pendaftarans VALUES(1,'2026-01-11 11:27:22','Pending',1,1,'2026-01-11 11:27:22','2026-01-11 11:27:22');
CREATE TABLE IF NOT EXISTS "fasilitas" ("id_fasilitas" integer primary key autoincrement not null, "nama_fasilitas" varchar not null, "deskripsi" text, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "kriterias" ("id_kriteria" integer primary key autoincrement not null, "nama_kriteria" varchar not null, "bobot" float not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "sub_kriterias" ("id_sub_kriteria" integer primary key autoincrement not null, "id_kriteria" integer not null, "nama_sub" varchar not null, "nilai" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("id_kriteria") references "kriterias"("id_kriteria") on delete cascade);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',10);
INSERT INTO sqlite_sequence VALUES('admins',1);
INSERT INTO sqlite_sequence VALUES('ukms',6);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE UNIQUE INDEX "admins_username_unique" on "admins" ("username");
CREATE UNIQUE INDEX "mahasiswas_nim_unique" on "mahasiswas" ("nim");
CREATE UNIQUE INDEX "mahasiswas_email_unique" on "mahasiswas" ("email");
COMMIT;
